// COLORS
$white: #ffffff;
$black: #000000;
$blue950: #0d192c;
$blue900: #15263f;
$blue800: #15263f;
$blue500: #8bacd9;
$cyan: #00fff8;

// FONTS
$outfit: "Outfit", sans-serif;

// SPACING
$spacing-lg: 2.4rem;
$spacing-med: 1.6rem;
$spacing-sm: 0.8rem;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 23.4375em; // 375px

// MIXINS
@mixin textPreset(
  $fontWeight: 0,
  $fontSize: 0,
  $lineHeight: 100%,
  $letterSpacing: 0,
  $color: $black
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
}

@mixin textPreset1($color) {
  @include textPreset(600, 2.2rem, 125%, 0, $color);
}

@mixin textPreset2($color) {
  @include textPreset(300, 1.8rem, 145%, 0, $color);
}

@mixin textPreset3SemiBold($color) {
  @include textPreset(600, 1.6rem, 125%, 0, $color);
}

@mixin textPreset3Regular($color) {
  @include textPreset(400, 1.6rem, 125%, 0.05rem, $color);
}
