@use "@/app/_styles/variables" as *;

.imgContainer {
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;

  .hoverImg {
    position: relative;
    display: none;
    width: 4.8rem;
    height: 4.8rem;
    color: $cyan;
  }

  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($cyan, 0.6);
  }

  &:hover {
    .overlay {
      display: block;
      width: 100%;
      height: 100%;
    }

    .hoverImg {
      display: block;
    }

    & ~ div h1,
    & ~ div h2 span {
      color: $cyan !important;
    }
  }
}
