@use "@/app/_styles/variables" as *;

.overview {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-lg;
}

.overviewText {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-med;
}

.name {
  @include textPreset1($white);
}

.description {
  @include textPreset2($blue500);
}

.infoContainer {
  padding-bottom: $spacing-lg;
  border-bottom: 1px solid #979797;

  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  column-gap: $spacing-sm;
}

.price {
  @include textPreset3SemiBold($cyan);
}

.time {
  @include textPreset3Regular($blue500);
}

.iconContainer {
  position: relative;

  &.coin {
    width: 1.1rem;
    height: 1.8rem;
  }

  &.clock {
    width: 1.6rem;
    height: 1.6rem;
  }
}
